.body-color{
  background-color: 	#FFF8DC;
}

.body-color1{
  background-color: 	#FBF6D9;
}

.body-color2{
  background-color: 	#FAEBD7;
}

.body-color3{
  background-color: 	#F7E7CE;
}

.body-color4{
  background-color: 	#FFEBCD;
}

.body-color5{
  background-color: 	#FFE5B4;
}

ul{
  list-style: none;
}

#list_nav {
  list-style:none;
  padding:0;
  display:inline;
}

#list_nav li {
  display:inline-block;
}

#list_nav li a {
  text-decoration:overline underline;
  padding:5px 0;
  width:190px;
  background:#808080;
  color:#eee;
  float:left;
  text-align:center;
  border-left:2px solid black;
  border-right:2px solid black;
  border-top:2px solid black;
  border-bottom:2px solid black;
}

#list_nav li a:hover {
  background:#808080;
  color:#000;
}

.wrapper{
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
  border-style: double;
  border-color: black;
}
